body {
  background-color: #023047;
  max-width: 100vw;
  color: ghostwhite;
  font-family: "Raleway", sans-serif;
}
/* //NAVBAR CLOSE WHEN CLICK OUTSIDE MENU */
.navbar {
  /*   z-index should be above .close-navbar-toggler */
  z-index: 2;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.close-navbar-toggler {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}
.close-navbar-toggler.collapsed {
  z-index: -1;
}

nav {
  display: flex;
  flex-wrap: no-wrap;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

#div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151b29;
}
.div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  color: ghostwhite;
  transition: all 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #023047;
  text-decoration: none;
}

.btn:hover {
  cursor: cell;
  border-color: #04ee51;
  color: ghostwhite;
  box-shadow: 0 0.5em 0.5em -0.4em #04ee51;
  transform: translateY(-0.15em);
  font-size: 2.5vh;
}
::selection {
  color: #00d8ff;
}

a {
  text-decoration: none;
  color: rgb(2, 117, 216);
}
img {
  width: 8vw;
  margin-right: 1vw;
}

#bothSides {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1vh #151b29 solid;
  border-bottom: 1vh #151b29 solid;
  margin-bottom: 5vh;
  background-color: rgb(230, 230, 230);
}
#textSide,
#imageSide {
  width: 50%;
  max-height: 80vh;
  background-size: cover;
  color: rgb(2, 117, 216);
  text-align: start;
}

span {
  margin-left: 1%;
}
p,
h1,
h2 {
  margin-left: 4vw;
  margin-right: 4vw;
  text-align: justify;
  display: flex;
  justify-content: center;
}
#main1 {
  margin-bottom: 5vh;
}
#main2 {
  border-bottom: #151b29 solid 1vh;
  padding-bottom: 5vh;
}

#navBar {
  border-bottom: solid #151b29 1vh;
  border-top: #151b29 solid 1vh;
  background-color: rgba(2, 48, 71, 0.9);
  color: #04ee51;
}
.carousel {
  max-height: 85vh;
  display: flex;
}
#quote {
  /* background: url("../public/codePortfolio.jpg"); */
  /* background: url("../public/alternatePortfolioPic.jpg"); */
  font-size: 2vh;
  display: flex;
  justify-content: center;
  color: ghostwhite;
  align-items: center;
  text-align: center;
}
#downArrow {
  height: 5%;
  width: 5%;
}
#moreAboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #151b29 solid 1vh;
}
.techs {
  font-size: 2rem;
  text-align: center;
}

#footer {
  border-top: #151b29 solid 1vh;
  border-bottom: #151b29 solid 1vh;
}
::-webkit-scrollbar {
  width: 2vh;
}
/* the scrollbar. */
::-webkit-scrollbar-button {
  background: #151b29;
  height: 1vh;
  /* border-radius: 50%; */
  /* border: #2f4f4f 0.3vh solid; */
}
/* the buttons on the scrollbar (arrows pointing upwards and downwards). */
::-webkit-scrollbar-thumb {
  background: #151b29;

  border: 0.4vh #04ee51 solid;
}
/* the draggable scrolling handle. */
::-webkit-scrollbar-track {
  background: yellowgreen;
}
/* the track (progress bar) of the scrollbar. */
::-webkit-scrollbar-track-piece {
  background: #2f4f4f;
}
/* the track (progress bar) NOT covered by the handle. */
::-webkit-scrollbar-corner {
  background: #151b29;
}
/* the bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet. */
::-webkit-resizer {
  background: #04ee51;
}
/* the draggable resizing handle that appears at the bottom corner of some elements. */

#divRows {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.even {
  height: 3vh;
  width: 3vw;
  background-color: black;
}
.odd,
#odd {
  height: 3vh;
  width: 3vw;
  background-color: #04ee51;
}
#fillerOnly {
  border-top: 1vh #151b29 solid;

  border-bottom: 1vh #04ee51 solid;

  padding-top: 5vh;

  background-color: #404258;
  padding-top: 5vw;
  padding-bottom: 5vw;
}

#downloadCV {
  width: 60vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(222, 32%, 12%);
  color: ghostwhite;
  margin: auto;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  border: 1vh solid #04ee51;
  font-size: 2vh;
}
.resumeLink {
  color: #ffffff;
  text-decoration: none;
}
.donwloadImages {
  width: 2.5vh;
  height: 2.5vh;
}
#topAfterQuote {
  border-top: 1vh #151b29 solid;
}

.navbar-brand {
  padding-left: 2vh;
  padding-right: 2vh;
  /* border-bottom: 0.4vh #04ee51 solid; */

  border-top: #04ee51 0.4vh solid;
  border-right: 50% red;
  /* border-bottom: #151b29 0.4vh solid; */
}

#contact {
  border-top: #151b29 solid 1vh;
  border-bottom: #151b29 solid 1vh;
}

#sideOfForm {
  /* background-color: lightblue; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  padding: 4vh;
  text-align: center;
  font-size: x-large;
  color: ghostwhite;
  /* background: url("../public/whiteBackground.jpg"); */
  /* background-size: cover; */
  /* border-radius: 15% 0 0 15%; */
  border-top: solid rgb(2, 117, 216);
  /* border-left: solid rgb(2, 117, 216); */
  border-bottom: solid rgb(2, 117, 216);
  height: 50vh;
}
#formButton {
  border: none;
}
#emailSpam {
  color: #023047;
}
.aGreenOne {
  color: #04ee51;
}
.aboutMePicture {
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.niceEffect {
  color: var(--purple-color);
  text-shadow: 0 0 5px red, 0 0 2px red, 0 0 2px red, 0 0 8px red, 0 0 12px red,
    0 0 15px red, 0 0 10px red, 0 0 15px red;
}

.neonText {
  text-shadow: 0.03em 0 0 rgb(255 0 0 / 50%),
    -0.023em -0.03em 0 rgb(0 128 0 / 50%), 0.023em 0.03em 0 rgb(0 0 255 / 50%);
}

.pattern {
  background-color: #04ee51;
  opacity: 0.6;
  background-image: linear-gradient(135deg, #151b29 25%, transparent 25%),
    linear-gradient(225deg, #151b29 25%, transparent 25%),
    linear-gradient(45deg, #151b29 25%, transparent 25%),
    linear-gradient(315deg, #151b29 25%, #04ee51 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  background-repeat: repeat;
}

.gradientColor {
  background: linear-gradient(180deg, #04ee51, #151b29);
}
#fillerOnly > h1 {
  color: #151b29;
}
#projectsDiv {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80%;
}
#projectsDiv > div {
  width: 45%;
  margin: auto;
  margin-bottom: 1vh;
}
#projectsDiv > div > h2 {
  font-size: 2rem;
}
#projectsDiv > div > a > img {
  width: 100%;
  margin: auto;
  border-radius: 10%;
  border: #151b29 solid 1vh;
  height: 30vh;
}
#projectsDiv > div > a > img:hover {
  border-radius: 30%;
  opacity: 0.8;
  border: #04ee51 solid 1.5vh;
}
